<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>PRISM</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    
    <%- include('header');%>
    
    <div class="top-wrapper">
        
        <div class="container">
            <div class="top-message">
                <h3>「風」の時代の幕開け。
                    <br>簡単に、シンプルに生きる。
                    <br>それが本質だから。
                    <br>自分の望む現実を創造する。
                </h3>
            </div>
            
        </div>
    </div>

    <div class="news-wrapper">
        <div class="container"></div>
    </div>

    <div class="contents-wrapper">
        
    </div>

    <%- include('footer');%>

</body>
</html>
