body {
    margin: 0;
   
}

li {
   list-style: none;
}

a {
 text-decoration: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
 
}

header {
    height: 60px;
    border-bottom: 2px solid #a7fbff;
    margin-bottom: 20px;
    padding: 5px 10px;
    
    
}

header img {
    height: 50px;
    width: 300px;
    
}

.header-right {
   font-weight: normal;
   float: right;
   
   
}

.header-right  li {
    float: left;
    display: inline-block;
    position: relative;
    width: 240px;
}

.header-right a {
    color: #ffffff;
    background-color: #69DFFF;
    display:block;
    line-height: 51px;
    
    text-align: center;
}

.header-right a:hover {
    background-color: #A3EBFF;
    transition: 0.8s;
}

.header-right ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}





.header-right li li a {
    border-top: 1px solid #ffffff;
}

.header-right li:hover ul {
    position: absolute;
    top: 51px;
    display: block;
    transition: 0.7s;
   
    }



.top-wrapper {
    height: 300px;
    background-size: cover;
    background-image: url("top-wrapper-image-twinkle_00028.jpg");
  
   
}

.top-wrapper h3 {
    opacity: 0.7;
    font-size: 20px;

}

footer {
    height: 100px;
    background-color: #CA6FFD;

    padding: 13px 30px;
    text-align: center;
}



.footer-list {
    text-align: center;
}

.footer-list p{
    text-align: center;
   
    color: #ffffff;
}

.footer-list a {
    color: #ffffff;
    text-align: center;
}

.footer-list a:hover {
    text-decoration: underline;
}

.contents li {
    padding: 13px 0px;
}


.contents-wrapper {
    height: 1000px;
    background-image: url("https://github.com/MacrossDeltalove/magnetic-field729.mchi/blob/main/2515908_m.jpg?raw=true");
    background-size: cover;
    width: 100%;　 
}

.contents-wrapper h3 {
    color: #a7fbff;
}

.contents-wrapper li {
    float: left;
}

.contents-wrapper a {
    padding: 13px 40px;
    background-color: #ffffff;
    opacity: 0.5
    color: #53ff95;
  
}

.contents-wrapper a:hover {
    background-color: #a7fbff;
    
}

.door h4{
    color: #ffffff
}

.news-wrapper h3 {

}

.article {
    background-image: url("https://github.com/MacrossDeltalove/magnetic-field729.mchi/blob/main/2515908_m.jpg?raw=true");
    background-size: cover;
}

.article-list {
    box-sizing: border-box;
    border: none;
    background-color: rgba(255,255, 255, 0.7); 
    
    padding: 20px;
    width: 700px;
   
}

.article-list li {
    margin: 10px 10px;
}
    
.article-list img {
    opacity: 3.0;
    height: 400px;
    width:600px;
    padding: 5px 30px;
}

.article-list h5 {
    font-weight: normal;
    padding: 0px 20px;
}


.session-menu {
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    padding:30px;
    width: 900px;
    height: 100%;
    
}

.session-contents h3 {
    color: #ffffff;
    background-color: #69DFFF;
    padding: 13px 30px;
    
}
    
.session-contents img {
    height: 400px;
    width: 500px;
    text-align: center;
    
    
    
}

    
.inquiry-wrapper {
    background-image: url("https://github.com/MacrossDeltalove/magnetic-field729.mchi/blob/main/23600325_m.jpg?raw=true");
    background-size: cover;
    height: 1000px;
}
