@media screen and (min-width: 960px) {

body {
    margin: 0;
   
}

li {
   list-style: none;
}

a {
 text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
 
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #a7fbff;
    margin-bottom: 20px;
    padding: 5px 0px 30px 30px;
    background-color: #ffffff;
  
    
}

header img {
    height: 50px;
    width: 300px;
    padding-top: 15px;
    
}

.header-right {
   font-weight: normal;
   float: right;
   z-index: 10;
   margin-right: 100px;
    
}

.header-right  li {
    float: left;
    margin: 0px;
    position: relative;
    
    
}
    
.header-right a {
    color: #ffffff;
    background-color: #69DFFF;
    line-height: 45px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width: 200px;
}

.header-right a:hover {
    background-color: #A3EBFF;
    transition: 0.8s;
}

.header-right ul {
    display: none;
    margin: 0px;
    padding: 0px;
    
}


.header-right li li a{
    border-top: 1px solid #ffffff;
    
}
    

    

.header-right li:hover ul {
    position: absolute;
    top: 45px;
    display: block;
    transition: 0.7s;
   
}

.sub  {
    width: 280px;
    }

.article {
    background-image: url("https://github.com/MacrossDeltalove/magnetic-field729.mchi/blob/main/top-wrapper-image-twinkle_00028.jpg?raw=true");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin-top: 110px;
    margin-right: 0px;
    overflow: hidden;
    
}


.message {
    background-color: rgba (255, 255, 255, 0);
    padding-top: 40px;
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    border: none;   
    
}

.pickup {
    margin-top: 80px;
    padding: 5px 30px 30px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    width: 780px;
    height: 100%;
    
    z-index: 0;
        
    }
    
.pickup h3 {
    padding: 0px 0px 10px 30px;
    }

.pickup-img {
    float: right;
    }

.pickup img {
    height: 300px;
    width: 450px;
    vertical-align: bottom;
    margin:0px 50px 50px 0px;
    padding-bottom: 0px;
    
    
}
    
.pickup img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
    z-index: 0px;
    }
    
    
.update-news h3 {
    padding: 20px 0px 10px 30px;
    }
    

.update-news {
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    width: 780px;
    height: 100%;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 0px;
    }

 .rest {
     background-color: rgba(255, 255, 255, 0);
     box-sizing: border-box;
     border: none;
     height: 50px;
     width: 800px;
    }

.advertising {
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    text-align: center;


    
}

.advertising img {
    margin-left: 10px;
}

.advertising img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
    }
    
.demon {
    height: 300px;
    width: 300px;
}

.being-you-money-sex {
    height: 410px;
    width: 300px;
}

footer {
   
    height: 100px;
    background-color: #CA6FFD;
    color: #ffffff;
    padding: 13px 30px;
    text-align: center;
    width: 100%
}


.footer-list a {
    color: #ffffff;
    text-align: center;
}

.footer-list a:hover {
    text-decoration: underline;
}






.article-list {
    box-sizing: border-box;
    border: none;
    background-color: rgba(255,255, 255, 0.7); 
    height: 100%;
    padding: 20px;
    width: 700px;
    margin: 0px;
    background-attachment: fixed;
}

.article-list li {
    margin: 10px 10px;
}

.article-list h3 {
   color: #ffffff;
    background-color: #1dbbfe;
    padding:  15px 30px;
}
    
.article-list img {
    opacity: 3.0;
    height: 400px;
    width:600px;
    padding: 5px 30px;
}

.article-list h5 {
    font-weight: normal;
    padding: 0px 20px;
}


.session-menu {
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    padding:5px 30px;
    width: 700px;
    height: 100%;
    
}

.session-contents h3 {
    color: #ffffff;
    background-color: #1dbbfe;
    padding:  10px 30px;
    
}
    
.session-contents img {
    height: 400px;
    width: 500px;
    padding-left: 70px;
}

.session-contents h4 {
    color: #ffffff;
    background-color: #6bffd5;
    padding: 10px;
    margin-top: 70px;
}

.session-contents h5 {
    color: #ffffff;
    background-color: #69DFFF;
    padding: 5px;
}

.earth {
    margin-bottom: 0px;
}

.mebius {
    letter-spacing: 0.1em;
}

.submit-button {
    padding: 10px 20px;
    background-color: #2578ff;
    color: #ffffff;
    border-radius: 4px;
    border-box: none;
    width: 100px;
    margin: 5px 0px 0px 30px;
}

.submit-button:action {
    background-color: #5b9aff;
}
}    
  



@media screen and (max-width: 480px) {
    body {
    margin: 0;
    }
   

    li {
   list-style: none;
    }

a {
 text-decoration: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
 
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    border-bottom: 2px solid #a7fbff;
    margin-bottom: 20px;
    padding: 5px 30px 30px 30px;
    
    
}

header img {
    height: 50px;
    width: 300px;
    padding-top: 15px;
    
}

.header-right {
   font-weight: normal;
   float: right;
   z-index: 10;
}

.header-right  li {
    float: left;
    display: inline-block;
    position: relative;
    width: 200px;
}
    
.header-right a {
    color: #ffffff;
    background-color: #69DFFF;
    display:block;
    line-height: 51px;
    text-align: center;
}

.header-right a:hover {
    background-color: #A3EBFF;
    transition: 0.8s;
}

.header-right ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}


.header-right li li a {
    border-top: 1px solid #ffffff;
}

.header-right li:hover ul {
    position: absolute;
    top: 51px;
    display: block;
    transition: 0.7s;
   
}

.article {
    background-image: url("https://github.com/MacrossDeltalove/magnetic-field729.mchi/blob/main/top-wrapper-image-twinkle_00028.jpg?raw=true");
    background-size: cover;
    background-attachment: fixed;
}


.message {
    padding-top: 110px;
    width: 800px;
    height: 100%;
  
}
    
.pickup {
    background-color: rgba(255, 255, 255, 0.7);
    width: 700px;
    height: 100%;
    }
        

.pickup ul {
    display: flex;
    margin-bottom: 0px;
}
     

.pickup img {
    height: 200px;
    width: 350px;
    vertical-align: bottom;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.update-news {
    background-color: rgba(255, 255, 255, 0.7);
    width: 800px;
    height: 100%;
    }

.update h3 {
    padding: 20px 0px 0px 50px;
    }
    
.update-news a {
    display: block;
    }
    
 .rest {
     background- color: rgba(255, 255, 255, 0);
     box-sizing: border-box;
     border: none;
     height: 50px;
     width: 800px;
    }


.advertising {
    margin-top: 110px;
    float: right;
    margin: 0px;
    display: block;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;
    
}

.advertising img {
    margin-left: 10px;
}

.demon {
    height: 300px;
    width: 300px;
}

.being-you-money-sex {
    height: 410px;
    width: 300px;
}

footer {
    
    height: 100px;
    background-color: #CA6FFD;
    color: #ffffff;
    padding: 13px 30px;
    text-align: center;
    width: 100%
}


.footer-list a {
    color: #ffffff;
    text-align: center;
}

.footer-list a:hover {
    text-decoration: underline;
}






.article-list {
    box-sizing: border-box;
    border: none;
    background-color: rgba(255,255, 255, 0.7); 
    height: 100%;
    padding: 20px;
    width: 700px;
    margin-top: 110px;
    background-attachment: fixed;
}

.article-list li {
    margin: 10px 10px;
}

.article-list h3 {
   color: #ffffff;
    background-color: #1dbbfe;
    padding:  15px 30px;
}
    
.article-list img {
    opacity: 3.0;
    height: 400px;
    width:600px;
    padding: 5px 30px;
}

.article-list h5 {
    font-weight: normal;
    padding: 0px 20px;
}


.session-menu {
    marigin-top: 130px;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    padding:5px 30px;
    width: 700px;
    height: 100%;
    
}

.session-contents h3 {
    color: #ffffff;
    background-color: #1dbbfe;
    padding:  10px 30px;
    
}
    
.session-contents img {
    height: 400px;
    width: 500px;
    padding-left: 70px;
}

.session-contents h4 {
    color: #ffffff;
    background-color: #6bffd5;
    padding: 10px;
    margin-top: 70px;
}

.session-contents h5 {
    color: #ffffff;
    background-color: #69DFFF;
    padding: 5px;
}

.earth {
    margin-bottom: 0px;
}

.mebius {
    letter-spacing: 0.1em;
}

.submit-button {
    padding: 10px 20px;
    background-color: #2578ff;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    width: 100px;
    margin: 5px 0px 0px 30px;
    box-shadow
 }


}
